.hot-tours {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hot-tours-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 60px 0 20px;
  position: relative;
}
.hot-tours-wrapper::-webkit-scrollbar {
  display: none;
}
.hot-tours-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hot-tours-item {
  width: 30.5vw;
  margin: 60px 0;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
@media (max-height: 1079px) and (min-height: 900px),
  (max-height: 1440px) and (max-height: 900px) {
  .hot-tours-item {
    width: min(30.5vw, 50vh);
  }
}
.item-right {
  align-items: flex-end;
  position: relative;
}
.hot-tours-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
}
.hot-tours-picture {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hot-tours-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hot-tours-desc {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
}
.hot-tours-desc h2 {
  font-weight: 400;
  font-size: 2.3vw;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.hot-tours-desc h3 {
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}
.hot-tours-block p {
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
}
.hot-tours-detailed {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  border: 1px solid #000000;
  text-transform: uppercase;
  width: fit-content;
  padding: 6px 22px;
  margin-top: 20px;
}
@media (max-height: 1000px) {
  .hot-tours-desc h2 {
    font-size: 2vw;
  }
}
@media (min-width: 1200px) and (max-width: 1920px) and (max-height: 800px) {
  .hot-tours-desc h2 {
    font-size: 1.8vw;
  }
  .hot-tours-desc h3 {
    font-size: 1.4vw;
  }
}
/*===item-right-block===*/
.item-right-block .hot-tours-picture {
  order: 3;
}
/*===all-tours-link===*/
.all-tours-link {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #ffffff;
  background: #000000;
  border: 1px solid #000000;
  text-transform: uppercase;
  white-space: nowrap;
  width: fit-content;
  padding: 6px 22px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.all-tours-link-hover {
  transition: all 0.3s ease-in-out;
}
.all-tours-link-hover:hover,
.all-tours-link-hover:focus {
  color: #000000;
  background: #ffffff;
}

.all-tours-link-mobile {
  display: none;
}
.link-hover-mobile {
  display: none;
}
.hot-tours-separator {
  max-width: 13vw;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 38px;
}
.hot-tours-separator img {
  width: 100%;
  height: 100%;
}
.separator-desctop {
  display: block;
}
.separator-tablet {
  display: none;
}
.separator-mobile {
  display: none;
}
@media (max-width: 1600px) {
  .hot-tours-wrapper {
    margin: 0 30px 0 20px;
  }
  .hot-tours-item {
    margin: 30px 0;
  }
  .hot-tours-separator {
    margin: 30px 30px;
  }
  .all-tours-link {
    font-size: 20px;
  }
  .hot-tours-detailed {
    font-size: 20px;
    margin-top: 15px;
  }
  .hot-tours-desc {
    gap: 15px;
  }
}
@media (max-width: 1400px) {
  .all-tours-link {
    font-size: 18px;
  }
  .hot-tours-detailed {
    font-size: 18px;
  }
  .separator-desctop {
    display: none;
  }
  .separator-tablet {
    display: block;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .all-tours-link {
    font-size: 15px;
  }
}
@media (max-width: 900px), (orientation: portrait) {
  #hot:target {
    padding-top: 200px;
    margin-top: -200px;
  }
  .hot-tours {
    flex-direction: column;
  }
  .hot-tours-wrapper {
    height: auto;
    margin: 0;
    flex-direction: column;
  }

  .all-tours-link {
    display: none;
  }
  .all-tours-link-mobile {
    display: block;
    position: initial;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .all-tours-link-mobile.active {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .separator-tablet {
    display: none;
  }
  .separator-mobile {
    display: block;
  }
  .hot-tours-inner {
    flex-direction: column;
    gap: 24px;
  }
  .hot-tours-separator {
    max-width: 100%;
    max-height: 100px;
    margin: 0;
  }
  .item-right-block .hot-tours-picture {
    order: 0;
    max-height: 773px;
    height: auto;
  }
  .hot-tours-item {
    margin: 0;
    width: 100%;
    position: initial;
  }
  .hot-tours-block {
    gap: 24px;
  }
  .hot-tours-picture {
    max-height: 773px;
    height: auto;
  }

  .hot-tours-desc {
    gap: 24px;
  }
  .hot-tours-desc h2 {
    font-size: 5.8vw;
  }
  .hot-tours-desc h3 {
    font-size: 3.1vw;
  }
  .hot-tours-block p {
    font-size: 3.1vw;
  }
  .hot-tours-detailed {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  #hot:target {
    padding-top: 99px;
    margin-top: -99px;
  }
  .hot-tours-block {
    gap: 15px;
  }
  .all-tours-link {
    font-size: 17px;
    padding: 3px 15px;
    margin-top: 5px;
    margin-bottom: 24px;
  }
  .hot-tours-detailed {
    font-size: 17px;
    padding: 3px 15px;
  }
  .hot-tours-desc h2 {
    font-size: 23px;
  }
  .hot-tours-desc h3 {
    font-size: 17px;
  }
  .hot-tours-block p {
    font-size: 17px;
  }
  .hot-tours-separator {
    font-size: 17px;
    padding: 3px 15px;
  }
  .hot-tours-desc {
    gap: 15px;
  }
}
@media (max-width: 460px) {
  .hot-tours-picture {
    max-height: 379px;
  }
  .item-right-block .hot-tours-picture {
    max-height: 379px;
  }
}

/*===hot-two===*/
.hot-tours-two {
  max-width: 1637px;
  width: 100%;
}
#hot-tours-two {
  display: none;
}
#hot-tours-two.hot-tours-two-visible {
  display: flex;
}
.hot-tours-separator-two {
  display: none;
}
@media (max-width: 1440px) {
  .hot-tours-two {
    max-width: calc(100% - 230px);
  }
}
@media (max-width: 1366px) {
  .hot-tours-two {
    max-width: calc(100% - 200px);
  }
}
@media (max-width: 1200px) {
  .hot-tours-two {
    max-width: calc(100% - 143px);
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .hot-tours-two {
    max-width: calc(100% - 143px);
  }
}
@media (max-width: 900px), (orientation: portrait) {
  .hot-tours-two {
    max-width: 100%;
  }
  .hot-tours-separator-two {
    display: block;
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 24px;
  }
  .hot-tours-separator-two img {
    width: 100%;
    height: 100px;
  }
}
@media (max-width: 900px) {
  .hot-tours-two {
    max-width: 100%;
  }
}
